<app-loading />

@if (character) {

<p-card>
  <div class="character-container">
    <div class="character-image">
      <img [src]="character | buildImage" alt="{{ character.name }}" />
    </div>
    <div class="character-info">
      <h2>{{ character.name }}</h2>
      <p><strong>ID:</strong> {{ character.id }}</p>
      <p><strong>Description:</strong> {{ character.description }}</p>
      <h3>Aquí tienes 3 comics donde aparece:</h3>
      <ul>
        @for (comic of character.comics.items; track $index) { @if ($index < 3)
        {
        <li>
          <a [href]="comic.resourceURI | comicUrlToLocal : character.id">{{
            comic.name
          }}</a>
        </li>
        } }
      </ul>
    </div>
  </div>

  <div class="button-container">
    <p-button
      label="Volver"
      icon="pi pi-arrow-left"
      (onClick)="navigateTo('/marvel-list')"
    ></p-button>
  </div>
</p-card>
}
