<div class="search-bar">
  <input
    pInputText
    type="text"
    placeholder="Search..."
    [(ngModel)]="searchQuery"
    (keyup.enter)="searchCharacters()"
  />
  <button
    pButton
    label="Buscar"
    type="button"
    (click)="searchCharacters()"
  ></button>
</div>

<div class="cards">
  @for (character of characters(); track character.id) { @defer (on viewport) {
  <div class="card">
    <app-card
      [character]="character"
      (characterId)="handlerScrolling($event)"
    />
  </div>

  } @placeholder {
  <!-- TODO: Poner un mejor character--->
  <div>Loading...</div>
  } }
</div>

<app-loading />

<!--TODO: Hacer que sea un componente independiente -->
<app-scroll-button />
