<div class="search-bar">
  <input
    pInputText
    type="text"
    placeholder="Buscar..."
    [(ngModel)]="searchQuery"
    (keyup.enter)="searchCharacters()"
  />
  <p-button
    label="Buscar"
    type="button"
    (click)="searchCharacters()"
  ></p-button>
</div>

<div class="cards">
  @for (character of characters(); track character.id) { @defer (on viewport) {
  <div class="card">
    <app-list-card
      [character]="character"
      (characterId)="handlerScrolling($event)"
    />
  </div>

  } @placeholder {
  <span></span>
  } }
</div>

<app-loading />

<app-scroll-button />
