<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <img
        [src]="
          imgBuilder(
            character().thumbnail.path,
            character().thumbnail.extension
          )
        "
        alt="Card image"
        class="card-image"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="title">
    <div class="card-title">{{ character().name }}</div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      type="button"
      label="Más información"
      class="p-button-secondary"
      (onClick)="moreDetails()"
    />
  </ng-template>
</p-card>
